
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1e1e2f;
    color: #333;
     padding-top: 70px;
}

/*----------CABEÇALHO----------*/
.header {
    background: #1358b3;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header h1 {
    font-size: 22px;
}

/*---------BOTAO HAMBURGUER----------*/
.menubtn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 20px;
    z-index: 1100;
}

.menubtn span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
}

/*----------BARRA LATERAL----------*/
.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: #0a3763;
    padding-top: 70px;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background: #3a3a55;
    border-radius: 5px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 900;
}

.overlay.show {
    display: block;
}

/*----------AREA DOS CONTROLES----------*/
#controles {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label {
    display: block;
    margin: 6px 0;
}

/*----------CONTROLE/DROPDOWN----------*/
.group {
    display: none;
    margin-left: 15px;
}

.toggle {
    background: none;
    border: none;
    color: #1e1e2f;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.arrow {
    display: inline-block;
    transition: transform 0.25s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.group {
    display: none;
    margin-left: 20px;
    margin-top: 6px;
}

.group.open {
    display: block;
}

/*----------BOTAO E ANIMAÇAO----------*/
#loadUsers {
    display: block;
    margin: 20px auto 0;
    padding: 12px 50px;
    background: #1e1e2f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 
        background-color 0.2s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

#loadUsers.clicked {
    background-color: #8b1e1e;
    transform: scale(0.96);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

/*----------TABELA----------*/

.table-range {
    margin: 20px;
    max-width: calc(100% - 40px);
    overflow-x: auto;
}

table {
    min-width: max-content;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 15px;
    white-space: nowrap;
    border: 1px solid #1e1e2f;
}

thead {
    background: #1358b3;
    color: white;
}

tbody tr:nth-child(even) {
    background: #f2f2f2;
}

/*----------Layout de grid----------*/

.extras-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.layout-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
